.mythumbnail {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    
}

.mythumbnail img {
    max-height: 200px;
       

}

.mythumbnail .description {
    color: grey;
}

.price {
    font-weight: bold;
    font-size: 16px;
}



